body {
    background-color: #222; /* 黑灰色背景 */
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #333; /* 黑灰色 */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #000;
    text-align: center;
    width: 350px; /* 放大登录框 */
}

h2 {
    color: #4B4;
    margin-bottom: 10px; /* 使标题离上方更近 */
}

input {
    display: block;
    width: 100%; /* 让输入框与按钮长度一致 */
    padding: 12px;
    margin: 15px 0;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #444; /* 黑灰色输入框 */
    color: white;
    outline: none;
    box-sizing: border-box;
}

input::placeholder {
    color: white; /* 提示字体变白 */
    text-align: left; /* 提示词靠左 */
}

input:hover, input:focus {
    border: 2px solid white; /* 鼠标放上去时加白框 */
    background-color: #444; /* 保持输入框背景颜色为黑灰色 */
    color: white; /* 保持字体为白色 */
}

button {
    background-color: #4B4;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

button:hover {
    background-color: #3A3;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.remember-me {
    color: white;
    font-size: 14px;
    margin-right: 10px; /* 为了使勾选框与文字之间有间距 */
}

.remember-checkbox {
    transform: scale(1.2); /* 放大勾选框 */
    background-color: #444;
    border: 2px solid white;
    margin-right: 10px;
}

.register-link {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.register-link:hover {
    color: #4B4;
}
